In [4]:
import pandas as pd
s=pd.Series ([1,2,3,4,5])
print('to multiply all values in a series 2')
print('-------------------------------------')
print(s*2)
print('to find the squares of all values in a series')
print('---------------------------------------------')
print(s*2)
print('to print all the values in series that are greater than 2')
print('-------------------------------------------------')
print(s[s>2])

to multiply all values in a series 2
-------------------------------------
0     2
1     4
2     6
3     8
4    10
dtype: int64
to find the squares of all values in a series
---------------------------------------------
0     2
1     4
2     6
3     8
4    10
dtype: int64
to print all the values in series that are greater than 2
-------------------------------------------------
2    3
3    4
4    5
dtype: int64

In [5]:
import pandas as pd
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s3=pd.Series([5,14,23,32],index=['a','b','c','d'])
print('to add series & series2')
print('-------------------------')
print(s1+s2)
print('to add series &b series3')
print('----------------------------')
print(s2+s3)
print('to add series & series3 and filled non matchind index with 0')
print('---------------------------------------------------------------')
print(s2.add(s3,fill_value=0))

to add series & series2
-------------------------
a    11
b    22
c    33
d    44
e    55
dtype: int64
to add series &b series3
----------------------------
a    15.0
b    34.0
c    53.0
d    72.0
e     NaN
dtype: float64
to add series & series3 and filled non matchind index with 0
---------------------------------------------------------------
a    15.0
b    34.0
c    53.0
d    72.0
e    50.0
dtype: float64

In [6]:
import pandas as pd
import numpy as np
arr=np.array([10,12,23,45,67,26,65,32,98,])
s=pd.Series(arr)
print(s.head())
print(s.head(3))

0    10
1    12
2    23
3    45
4    67
dtype: int32
0    10
1    12
2    23
dtype: int32

In [7]:
import pandas as pd
import numpy as np
arr=np.array([10,12,23,45,67,26,65,32,98,])
s=pd.Series(arr)
print(s.tail())
print(s.tail(3))

4    67
5    26
6    65
7    32
8    98
dtype: int32
6    65
7    32
8    98
dtype: int32

In [8]:
import pandas as pd
import numpy as np
arr=np.array([10,15,22,55,77])
s=pd.Series (arr)
print(s)
print(s.loc[:2])
print(s.loc[3:4])
s.loc[2:3]

0    10
1    15
2    22
3    55
4    77
dtype: int32
0    10
1    15
2    22
dtype: int32
3    55
4    77
dtype: int32

2    22
3    55
dtype: int32

In [10]:
import pandas as pd
import numpy as np
arr=np.array([10,15,22,55,77])
s=pd.Series (arr)
print(s)
print(s.iloc[:2])
print(s.iloc[3:4])
s.iloc[2:3]

0    10
1    15
2    22
3    55
4    77
dtype: int32
0    10
1    15
dtype: int32
3    55
dtype: int32

2    22
dtype: int32

In [11]:
import pandas as np
import numpy as np
arr=np.array([10,12,34,66,77,21])
s=pd.Series(arr,index=['a','b','c','d','e','f'])
print(s)
print(s[1:2:2])
print(s[0:6:2])

a    10
b    12
c    34
d    66
e    77
f    21
dtype: int32
b    12
dtype: int32
a    10
c    34
e    77
dtype: int32