In [52]:
import pandas as pd

dataset = pd.read_csv('hate_speech.csv')
dataset.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [53]:
dataset.label.value_counts()

0    3000
1    2242
Name: label, dtype: int64

In [54]:
dataset.shape

(5242, 3)

In [55]:
for index, tweet in enumerate(dataset["tweet"] [1-0:15]):
    print(index+1,"_",tweet)

1 _ @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2 _   bihday your majesty
3 _ #model   i love u take with u all the time in urð±!!! ððððð¦ð¦ð¦
4 _  factsguide: society now    #motivation
5 _ [2/2] huge fan fare and big talking before they leave. chaos and pay disputes when they get there. #allshowandnogo
6 _  @user camping tomorrow @user @user @user @user @user @user @user dannyâ¦
7 _ the next school year is the year for exams.ð¯ can't think about that ð­ #school #exams   #hate #imagine #actorslife #revolutionschool #girl
8 _ we won!!! love the land!!! #allin #cavs #champions #cleveland #clevelandcavaliers  â¦
9 _  @user @user welcome here !  i'm   it's so #gr8 !
10 _  â #ireland consumer price index (mom) climbed from previous 0.2% to 0.5% in may   #blog #silver #gold #forex
11 _ we are so selfish. #orlando #standwithorlando #pulseshooting #orlandoshooting #biggerproblems #selfish #heabreaking   #values #love #
12 _ i get to see my daddy today!!   #80days #gettingfed
13 _ ouch...junior is angryð#got7 #junior #yugyoem   #omg
14 _ i am thankful for having a paner. #thankful #positive

In [56]:
import re
def clean_text(text):
    text=re.sub(r'[^a-zA-Z\']', ' ', text)
    text=re.sub(r'[^\x00-\x7F]+', ' ', text)
    text=text.lower()
    return text

In [57]:

dataset['clean_text'] = dataset['tweet'].apply(lambda x: clean_text(x))

In [58]:
dataset.head(10)

,id,label,tweet,clean_text
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is s...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i can't us...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide society now motivation
5,6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before the...
6,7,0,@user camping tomorrow @user @user @user @use...,user camping tomorrow user user user use...
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams ...
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champ...
9,10,0,@user @user welcome here ! i'm it's so #gr...,user user welcome here i'm it's so gr...

In [59]:
from nltk.corpus import stopwords


len(stopwords.words('english'))

179

In [60]:
stop = stopwords.words('english')

In [61]:
def gen_freq(text):
    word_list=[]
    for tw_words in text.split():
        word_list.extend(tw_words)
    word_freq=pd.Series(word_list).value_counts()
    word_freq=word_freq.drop(stop, errors='ignore')
    return word_freq

In [62]:
import re

def any_neg(words):
    for word in words:
        if word in ['n', 'no', 'non', 'not'] or re.search(r"[^a-zA-Z']", word):
            return 1 
    return 0

In [63]:
def any_rare(words, rare_100):
    for word in words:
        if word in rare_100:
            return 1 
        else:
            return 0

In [64]:
def is_question(words):
    for word in words:
        if word in ['when', 'what', 'how', 'why', 'who', 'where']:
            return 1 
    return 0

In [65]:
word_freq=gen_freq(dataset.clean_text.str)
rare_100=word_freq[-100:]
dataset['word_count']=dataset.clean_text.str.split().apply(lambda x: len(x))
dataset['any_neg']=dataset.clean_text.str.split().apply(lambda x: any_neg(x))
dataset['is_question']=dataset.clean_text.str.split().apply(lambda x: is_question(x))
dataset['any_rare'] = dataset.clean_text.str.split().apply(lambda x: any_rare(x, rare_100))
dataset['char_count']=dataset.clean_text.apply(lambda x: len(x))

In [66]:
dataset.head(10)

,id,label,tweet,clean_text,word_count,any_neg,is_question,any_rare,char_count
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is s...,18,0,1,0,102
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i can't us...,19,0,0,0,122
2,3,0,bihday your majesty,bihday your majesty,3,0,0,0,21
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...,12,0,0,0,86
4,5,0,factsguide: society now #motivation,factsguide society now motivation,4,0,0,0,39
5,6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before the...,18,0,1,0,116
6,7,0,@user camping tomorrow @user @user @user @use...,user camping tomorrow user user user use...,11,0,0,0,74
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams ...,20,0,0,0,143
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champ...,10,0,0,0,87
9,10,0,@user @user welcome here ! i'm it's so #gr...,user user welcome here i'm it's so gr...,8,0,0,0,50

In [67]:
from sklearn.model_selection import train_test_split
X=dataset[['word_count','any_neg','char_count','is_question']]
y=dataset.label
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [68]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model=model.fit(X_train,y_train)
pred=model.predict(X_test)

In [69]:
model.predict(X_test[5:10])

array([0, 0, 0, 0, 0], dtype=int64)

In [77]:
from sklearn.metrics 
import accuracy_score
print("Accuracy:", accuracy_score(y_test, pred)*100, "%")

SyntaxError: invalid syntax (2577715826.py, line 1)

In [72]:
from sklearn.ensemble import RandomForestClassifier
clf_rf=RandomForestClassifier()
clf_rf.fit(X_train,y_train)
rf_pred=clf_rf.predict(X_test).astype(int)

In [73]:
from sklearn.metrics import classification_report, confusion_matrix, \
accuracy_score
print(confusion_matrix(y_test,rf_pred))
print(classification_report(y_test,rf_pred))
print("Accuracy:",accuracy_score(y_test, rf_pred))

SyntaxError: invalid non-printable character U+00A0 (3768344778.py, line 5)

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(class_weight='balanced')
logreg.fit(X_train,y_train)

In [ ]:
y_pred=logreg.predict(X_test)